@use "./../../../../src/styles/variables.scss" as *;

.partners_section {

  .partners {
    display: flex;
    flex-direction: column;
    padding: 0 146px 0 295px;


    @media screen and (max-width: $desktop) {
      padding: 0 108px 0 217px;
    }

    @media screen and (max-width: 1439.9px) {
      padding: 0 111px;
      display: grid;
      grid-template-rows: repeat(4, 1fr);
    }

    @media screen and (max-width: $mobile) {
      gap: 40px;
      padding: 0;
    }

    .partners-title:nth-child(1) {
      text-align: center;
    }

    .partners-title {
      margin-bottom: 88px;
      @media screen and (max-width: $tablet) {
        margin-bottom: 40px;
      }
    }

    .partners-title:not(:nth-child(1)) {
      max-width: 50%;
      white-space: nowrap;
      padding-left: 43%;

      @media (min-width: $tablet) and (max-width: 1024px) {
        max-width: none;
        padding-left: 0;
        text-align: center;
      }

      @media screen and (max-width: $mobile) {
        padding-left: 0;
        max-width: none;
        white-space: normal;
        text-align: center;
      }

      @media (min-width: $mobile) and (max-width: 600px) {
        padding-left: 0;
        max-width: none;
        white-space: normal;
        text-align: center;
      }
    }

    .post-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 88px;
      max-width: 100%;


      @media screen and (max-width: $desktop) {
        padding: 0 0;
        gap: 63px;
      }

      @media screen and (max-width: 1439.9px) {
        gap: 54px;
        align-items: center;
        margin-bottom: 80px;
        max-width: none;
      }

      @media screen and (max-width: $mobile) {
        flex-direction: column;
        gap: 20px;
        align-items: center;
      }

      @media (min-width: $mobile) and (max-width: 600px) {
        flex-direction: column;
        gap: 20px;
        align-items: center;
      }

      .partner-text {
        font-size: 20px;
        line-height: 14px;
        white-space: pre;

        @media screen and (max-width: $desktop) {
          font-size: 16px;
          width: 425px;
          line-height: 130%;
          white-space: normal;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
          font-size: 16px;
          width: 249px;
          white-space: normal;
          line-height: 120%;
        }

        @media screen and (max-width: $mobile) {
          margin-top: 20px;
          font-size: 20px;
          line-height: 20px;
          white-space: normal;
          padding: 0 26px;
          width: 100%;
        }

        @media (min-width: $mobile) and (max-width: 600px) {
          margin-top: 20px;
          font-size: 20px;
          line-height: 20px;
          white-space: normal;
          padding: 0 26px;
          width: 100%;
        }

      }

      .partner-image {
        width: 220px;

        @media screen and (max-width: 1439.9px) {
          width: 164px;
        }
      }
    }

  }

  .partners-pagination {
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-bottom: 100px;
    display: none;

    @media screen and (max-width: 1439.9px) {
      display: flex;
    }

    @media screen and (max-width: $mobile) {
      margin-top: 80px;
    }

    a {
      font-size: 20px;
      color: rgb(183, 64, 40);
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      border-radius: 45px;
      border: 1px solid rgb(183, 64, 40);
      margin: 0 8px;
    }

    span {
      font-size: 20px;
      color: rgb(183, 64, 40);
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      border-radius: 45px;
      border: 1px solid rgb(183, 64, 40);
      margin: 0 8px;
      background: $yellow;
    }
  }
}



