@use "./../../../../src/styles/variables.scss" as *;

.partners_section {
  padding: 0 0;

  .partners-main-title {
    text-align: center;
    margin-bottom: 100px;

    @media screen and (max-width: $tablet) {
      margin-bottom: 84px;
    }
    @media screen and (max-width: $mobile) {
      margin-bottom: 104px;
    }
  }

  .partners {
    display: flex;
    flex-direction: column;
    gap: 62px;
    padding: 0 146px;

    @media screen and (max-width: $tablet) {
      padding: 0;
      align-items: center;
      gap: 0;
    }

    @media screen and (max-width: $desktop) {
      padding: 0 0;
    }

    @media screen and (max-width: $mobile) {
      gap: 0;
      padding: 0;
    }

    .partners-title {
      text-align: center;
      margin-bottom: 88px;

      @media screen and (max-width: $tablet) {
        margin-bottom: 48px;
      }
    }

    .partners-title:nth-of-type(2) {
      text-align: right;

      @media screen and (max-width: $mobile) {
        text-align: center;
        width: 328px;
      }
    }

    .post-item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 88px;

      @media screen and (max-width: $tablet) {
        gap: 40px;
        align-items: center;
      }

      @media screen and (max-width: $mobile) {
        flex-direction: column;
      }

      .partner-text {
        font-size: 20px;
        line-height: 14px;
        margin-top: 30px;
        white-space: pre-wrap;

        @media screen and (max-width: $tablet) {
          font-size: 16px;
          margin-top: 16px;
        }

        @media screen and (max-width: $desktop) {
          font-size: 16px;
        }

        @media screen and (max-width: $mobile) {
          margin-bottom: 20px;
          font-size: 20px;
        }

      }

      .partner-image {
        margin-bottom: 20px;
        width: 425px;

        @media screen and (max-width: $tablet) {
          width: 210px;
          margin-bottom: 0;
        }

        @media screen and (max-width: $desktop) {
          width: 390px;
        }

        @media screen and (max-width: $mobile) {
          width: 324px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

