@use "./../../../../src/styles/variables.scss" as *;

.partners_section {
  padding: 0 0;

  .partners-main-title {
    text-align: center;
    margin-bottom: 100px;

    @media screen and (max-width: $tablet) {
      margin-bottom: 84px;
    }
    @media screen and (max-width: $mobile) {
      margin-bottom: 104px;
    }
  }

  .partners {
    display: flex;
    flex-direction: column;
    gap: 62px;
    padding: 0 146px;

    @media screen and (max-width: $tablet) {
      padding: 0;
      align-items: center;
      gap: 0;
    }

    @media screen and (max-width: $desktop) {
      padding: 0 0;
    }

    @media screen and (max-width: $mobile) {
      gap: 40px;
      padding: 0;
    }

    .partners-title {
      text-align: center;
      margin-bottom: 88px;

      @media screen and (max-width: $tablet) {
        margin-bottom: 48px;
      }
    }

    .partners-title:nth-of-type(2) {
      text-align: right;

      @media screen and (max-width: $tablet) {
        text-align: center;
      }

      @media screen and (max-width: $mobile) {
        text-align: center;
      }
    }

    .post-item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 88px;
      position: relative;

      @media screen and (max-width: $tablet) {
        gap: 40px;
        align-items: center;
        justify-content: center;
      }

      @media screen and (max-width: $desktop) {
        justify-content: space-between;
      }

      @media screen and (max-width: $mobile) {
        flex-direction: column;
        gap: 20px;
      }

      .partner-text {
        font-size: 20px;
        line-height: 14px;
        white-space: pre-wrap;

        @media screen and (max-width: $tablet) {
          font-size: 16px;
          white-space: pre-wrap;
          line-height: 12px;
        }

        @media screen and (max-width: $desktop) {
          font-size: 16px;
        }

        @media screen and (max-width: $mobile) {
          margin-top: 20px;
          font-size: 20px;
          line-height: 20px;
          white-space: normal;
          padding: 0 30px;
        }
      }

      .partner-image {
        margin-bottom: 20px;

        @media screen and (max-width: $tablet) {
          width: 210px;
          margin-bottom: 0;
        }

        @media screen and (max-width: $mobile) {
          width: 210px;
        }
      }
    }

    .post-item .partner-text::before {
      position: absolute;
      content: "";
      display: inline-block;
      width: 310px;
      height: 167px;
      background-size: contain;
      background-repeat: no-repeat;
      right: 500px;
      top: 100px;
      background-image: url(../../../../assets/images/loop-arrow.svg);

      @media screen and (max-width: $tablet) {
        display: none;
      }

    }

    .post-item:nth-of-type(odd) .partner-text::before {
      background-image: url(../../../../assets/images/element-yellow.svg);
    }

    .post-item .partner-text::after {
      @media screen and (max-width: $mobile) {
        content: "";;
        position: absolute;
        width: 99.41px;
        height: 49.4px;
        top: 320px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../../../../assets/images/element-yellow.svg);
      }
    }

    .post-item:nth-of-type(odd) .partner-text::after {
      @media screen and (max-width: $mobile) {
        background-image: url(../../../../assets/images/loop-arrow.svg);
      }
    }

    .post-item:nth-of-type(1) .partner-text {
      margin-top: 30px;
      white-space: pre-wrap;

      @media screen and (max-width: $tablet) {
        margin-top: 0;
        line-height: 12px;
        white-space: pre-wrap;
      }

      @media screen and (max-width: $mobile) {
        margin-top: 0;
      }
    }
  }
}


