@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "KharkivTone";
  src: url("../../assets/fonts/KharkivTone.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.about-us-first-module__image-container___kDEcL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: 41px auto 63px;
  width: 920px;
}

.about-us-first-module__image-container___kDEcL::before {
  content: "";
  position: absolute;
  border: 2px solid #B74028;
  top: 11.41px;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(6.68deg);
  -ms-transform: rotate(6.68deg);
  transform: rotate(6.68deg);
  z-index: -1;
}

.about-us-first-module__image-container___kDEcL::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100vw;
  height: 100px;
  background: url("../../../../assets/images/pattern.png") repeat-x center center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
  -webkit-animation: about-us-first-module__scrollPattern___ub4UC 1s ease-out forwards;
  animation: about-us-first-module__scrollPattern___ub4UC 1s ease-out forwards;
}

@-webkit-keyframes about-us-first-module__scrollPattern___ub4UC {
  from {
    background-position: center center;
  }
  to {
    background-position: calc(50% - 20px) center;
  }
}
@keyframes about-us-first-module__scrollPattern___ub4UC {
  from {
    background-position: center center;
  }
  to {
    background-position: calc(50% - 20px) center;
  }
}
.about-us-first-module__main_photo___miyzk {
  max-width: 920px;
  display: block;
}

.about-us-first-module__pattern___YX5o9 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100vw;
  height: 100px;
  background: url("../../../../assets/images/pattern.png") repeat-x center center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}

.about-us-first-module__upper-title-wrapper___0Hh-h,
.about-us-first-module__bottom-title-wrapper___Xn2l7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.about-us-first-module__upper-title-wrapper___0Hh-h {
  padding-bottom: 88px;
}

.about-us-first-module__bottom-title-wrapper___Xn2l7 {
  padding-top: 36px;
}

.about-us-first-module__title-flex-container___6dhOu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 32px;
}

.about-us-first-module__title___UJyH4 {
  text-transform: uppercase;
}

.about-us-first-module__top_left_rounds___XI-LF,
.about-us-first-module__down_right_rounds___P8aL6 {
  width: 37px;
  height: 37px;
}

.about-us-first-module__under_title_image___tyzCI {
  width: 350px;
  margin-left: auto;
}

.about-us-first-module__text-columns-wrapper___haH4M {
  position: relative;
}

.about-us-first-module__text-columns___pA6kG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: 870px;
  margin: 36px auto 0;
}

.about-us-first-module__text-column___1O74N {
  width: 50%;
}

.about-us-first-module__red_long_arrow___KMvo3 {
  position: absolute;
  bottom: 9px;
  left: 66px;
  width: 338px;
}