@use "./../../../../src/styles/variables.scss" as *;

.main-section {
    padding: 0px 0px 80px;

    @media screen and (max-width: 1439.9px) {
        padding: 0px 0px 64px;
    }
}

.upper-title-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;

    @media screen and (max-width: 1439.9px) {
        padding: 0 32.5px;
    }

    @media screen and (max-width: 767.7px) {
        padding: 0 16px;
    }
}

:global(.upper-title-tpl-part) {
    width: fit-content;
    margin: 0 auto;
    padding: 24px 0 16px;

    @media screen and (max-width: 1919.9px) {
        padding-top: 28px;
        padding-bottom: 4px;
    }

    @media screen and (max-width: 1439.9px) {
        padding-bottom: 0px;
    }

    @media screen and (max-width: 767.9px) {
        padding-bottom: 12px;
    }
}

.image-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 32px auto;
    max-width: 920px;
    max-height: 564px;

    @media screen and (max-width: $desktop) {
        max-width: 596px;
        max-height: 364px;
        margin: 82px auto 28px;
    }

    @media screen and (max-width: $tablet) {
        max-width: 482px;
        max-height: 294px;
        margin: 49px auto 25px;
    }

    @media screen and (max-width: $mobile) {
        max-width: 284px;
        max-height: 173px;
        margin: 51px auto 19px;
    }

    &.main-page {
        margin-top: 40.5px;
        margin-bottom: 63.4px;

        @media screen and (max-width: 1919.9px) {
            margin-top: 20.3px;
            margin-bottom: 35.6px;
        }

        @media screen and (max-width: 1439.9px) {
            margin-top: 45px;
            margin-bottom: 49px;
        }

        @media screen and (max-width: 767.9px) {
            margin-top: 47px;
            margin-bottom: 43px;
        }
    }

    &.team-page {
        margin-top: 20.5px;
        margin-bottom: 69.4px;

        @media screen and (max-width: 1919.9px) {
            margin-top: 54.6px;
            margin-bottom: 59.4px;
        }

        @media screen and (max-width: 1439.9px) {
            margin-top: 49px;
            margin-bottom: 49px;
        }

        @media screen and (max-width: 767.9px) {
            margin-top: 51px;
            margin-bottom: 43px;
        }
    }

    &.support-page {
        margin-top: 36.5px;
        margin-bottom: 27.4px;

        @media screen and (max-width: 1919.9px) {
            margin-top: 86.6px;
            margin-bottom: 47.4px;
        }

        @media screen and (max-width: 1439.9px) {
            margin-top: 45px;
            margin-bottom: 25px;
        }

        @media screen and (max-width: 767.9px) {
            margin-top: 63px;
            margin-bottom: 19px;
        }
    }

    &.about-page {
        margin-top: 21.5px;
        margin-bottom: 103.4px;

        @media screen and (max-width: 1919.9px) {
            margin-top: 54.6px;
            margin-bottom: 35.4px;
        }

        @media screen and (max-width: 1439.9px) {
            margin-top: 49px;
            margin-bottom: 49px;
        }

        @media screen and (max-width: 767.9px) {
            margin-top: 51px;
            margin-bottom: 43px;
        }
    }
}

.image-container::before {
    content: "";
    position: absolute;
    border: 2px solid $red;
    top: 0px;
    width: 100%;
    height: 100%;
    transform: rotate(4deg);
    z-index: -1;
}

.image-container::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 100px;
    background: url('../../../../assets/images/pattern.png') repeat-x center center;
    transform: translateY(-50%);
    z-index: -1;
    animation: scrollPattern 1s ease-out forwards;

    @media screen and (max-width: $desktop) {
        background-size: auto 72px;
    }

    @media screen and (max-width: $tablet) {
        background-size: auto 58px;
    }

    @media screen and (max-width: $mobile) {
        background-size: auto 42px;
    }
}

.main_photo {
    max-width: 920px;
    max-height: 564px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    display: block;
    border-radius: 4px;
    transform: scale(1.2) rotate(-0.5deg);
    animation: rotateToNormal 0.5s ease-out 1 forwards;

    @media screen and (max-width: $desktop) {
        max-width: 596px;
        max-height: 364px;
    }

    @media screen and (max-width: $tablet) {
        max-width: 482px;
        max-height: 294px;
    }

    @media screen and (max-width: $mobile) {
        max-width: 284px;
        max-height: 173px;
    }
}

@keyframes rotateToNormal {
    from {
        transform: rotate(-0.5deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes scrollPattern {
    from {
        background-position: center center;
    }

    to {
        background-position: calc(50% + 20px) center;
    }
}

.title-template-part {
    width: fit-content;
    margin: 0px auto 36px;

    @media screen and (max-width: $desktop) {
        margin-bottom: 32px;
    }

    @media screen and (max-width: $tablet) {
        margin-bottom: 40px;
    }

    @media screen and (max-width: $mobile) {
        width: 240px;
    }
}

.slogan {
    max-width: 870px;
    text-align: center;
    margin: 0 auto 44px;

    @media screen and (max-width: $desktop) {
        max-width: 648px;
        margin-bottom: 24px;
    }

    @media screen and (max-width: $mobile) {
        max-width: 328px;
        margin-bottom: 20px;
    }
}

.main_section_columns-text {
    position: relative;
    display: flex;
    gap: 20px;
    max-width: 870px;
    margin: 0 auto;

    @media screen and (max-width: 1919.9px) {
        max-width: 628px;
        gap: 18px;
    }

    @media screen and (max-width: 1439.9px) {
        max-width: 688px;
        gap: 16px;
        padding-bottom: 118px;
    }

    @media screen and (max-width: 767.9px) {
        flex-direction: column;
        max-width: 440px;
        padding-bottom: 70px;
    }
}

.main_section_columns-text::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 340px;
    height: 167px;
    background-image: url("../../../../assets/images/loop-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    left: -379px;
    top: 30px;

    @media screen and (max-width: 1700px) {
        left: -200px;
    }

    @media screen and (max-width: 1919.9px) {
        width: 280px;
        height: 140px;
        left: -328px;
    }

    @media screen and (max-width: 1330px) {
        top: auto;
        bottom: 0px;
        left: 0px;
    }

    @media screen and (max-width: 1439.9px) {
        width: 200px;
        height: 100px;
        top: auto;
        bottom: 0px;
        left: 0px;
    }

    @media screen and (max-width: 767.9px) {
        width: 100px;
        height: 50px;
    }
}

.main_section_columns-text {
    &.main-page {
        &::before {
            top: -188px;
            left: -445px;

            @media screen and (max-width: 1919.9px) {
                top: 150px;
                left: -313px;
            }

            @media screen and (max-width: 1330px) {
                top: auto;
                bottom: 0px;
                left: 0px;
            }

            @media screen and (max-width: 1439.9px) {
                top: auto;
                bottom: 0px;
                left: 0px;
            }
        }
    }
}

.left,
.right {
    flex: 1;
}