@use "./../../../../src/styles/variables.scss" as *;

.upper-title-wrapper {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    padding-bottom: 88px;

    @media screen and (max-width: 1919.9px) {
        padding-bottom: 84px;
    }

    @media screen and (max-width: 1439.9px) {
        padding-bottom: 24px;
    }

    @media screen and (max-width: 767.9px) {
        padding-bottom: 40px;
    }
}

.upper-title-wrapper::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 350px;
    height: 20px;
    background-image: url("../../../../assets/images/title_element.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: -33px;
    bottom: 88px;

    @media screen and (max-width: 1919.9px) {
        bottom: 85px;
    }

    @media screen and (max-width: 1439.9px) {
        width: 300px;
        bottom: 24px;
        right: -25px;
    }

    @media screen and (max-width: 767.9px) {
        width: 200px;
        bottom: 32px;
        right: 0px;
    }
}

.title {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 40px;
    margin-bottom: 52px;

    @media screen and (max-width: 1919.9px) {
        margin-bottom: 44px;
    }

    @media screen and (max-width: 1439.9px) {
        margin-bottom: 40px;
    }

    @media screen and (max-width: 767.9px) {
        margin-bottom: 32px;
    }
}

.title::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 37px;
    height: 37px;
    background-image: url("../../../../assets/images/rounded_elements.svg");
    background-size: contain;
    background-repeat: no-repeat;
    left: -32px;
    top: 5px;

    @media screen and (max-width: 1919.9px) {
        left: -24px;
    }

    @media screen and (max-width: 767.9px) {
        width: 36px;
        height: 36px;
        left: 0px;
    }
}

.title::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 37px;
    height: 37px;
    background-image: url("../../../../assets/images/rounded_elements.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    right: -32px;
    top: 10px;

    @media screen and (max-width: 1919.9px) {
        right: -24px;
    }

    @media screen and (max-width: 767.9px) {
        width: 36px;
        height: 36px;
        right: 0px;
    }
}

.image-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 41px auto 63px;
    max-width: 920px;

    @media screen and (max-width: $desktop) {
        max-width: 596px;
        margin: 2px auto 47px;
    }

    @media screen and (max-width: $tablet) {
        max-width: 482px;
        margin: 21px auto 25px;
    }

    @media screen and (max-width: $mobile) {
        max-width: 284px;
        margin: 23px auto 19px;
    }
}

.image-container::before {
    content: "";
    position: absolute;
    border: 2px solid $red;
    top: 0px;
    width: 100%;
    height: 100%;
    transform: rotate(6.68deg);
    z-index: -1;
}

.image-container::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 100px;
    background: url('../../../../assets/images/pattern.png') repeat-x center center;
    transform: translateY(-50%);
    z-index: -1;
    animation: scrollPattern 1s ease-out forwards;

    @media screen and (max-width: $desktop) {
        background-size: auto 72px;
    }

    @media screen and (max-width: $tablet) {
        background-size: auto 58px;
    }

    @media screen and (max-width: $mobile) {
        background-size: auto 42px;
    }
}

.main_photo {
    max-width: 920px;
    width: 100%;
    display: block;
    transform: rotate(-0.5deg);
    animation: rotateToNormal 0.5s ease-out 1 forwards;

    @media screen and (max-width: $desktop) {
        max-width: 596px;
    }

    @media screen and (max-width: $tablet) {
        max-width: 482px;
    }

    @media screen and (max-width: $mobile) {
        max-width: 284px;
    }
}

@keyframes rotateToNormal {
    from {
        transform: rotate(-0.5deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes scrollPattern {
    from {
        background-position: center center;
    }

    to {
        background-position: calc(50% + 20px) center;
    }
}

.title-template-part {
    width: fit-content;
    padding-top: 32px;
    margin: 0px auto 36px;

    @media screen and (max-width: $desktop) {
        margin-bottom: 32px;
    }

    @media screen and (max-width: $tablet) {
        padding-top: 24px;
        margin-bottom: 40px;
    }

    @media screen and (max-width: $mobile) {
        width: 240px;
    }
}

.slogan {
    max-width: 870px;
    text-align: center;
    margin: 0 auto 44px;

    @media screen and (max-width: $desktop) {
        max-width: 648px;
        margin-bottom: 24px;
    }

    @media screen and (max-width: $mobile) {
        max-width: 328px;
        margin-bottom: 20px;
    }
}

.main_section_columns-text {
    position: relative;
    display: flex;
    gap: 20px;
    max-width: 870px;
    margin: 0 auto;

    @media screen and (max-width: $desktop) {
        max-width: 628px;
        gap: 18px;
    }

    @media screen and (max-width: 1330px) {
        padding-bottom: 118px;
    }

    @media screen and (max-width: $tablet) {
        max-width: 688px;
        gap: 20px;
        padding-bottom: 118px;
    }

    @media screen and (max-width: 630px) {
        flex-direction: column;
    }

    @media screen and (max-width: $mobile) {
        max-width: 328px;
        gap: 16px;
        padding-bottom: 70px;
    }
}

.main_section_columns-text::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 310px;
    height: 167px;
    background-image: url("../../../../assets/images/loop-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    left: -379px;
    top: 30px;

    @media screen and (max-width: 1700px) {
        left: -200px;
    }

    @media screen and (max-width: $desktop) {
        width: 280px;
        height: 140px;
        left: -328px;
    }

    @media screen and (max-width: 1330px) {
        top: auto;
        bottom: 0px;
        left: 0px;
    }

    @media screen and (max-width: $tablet) {
        width: 200px;
        height: 100px;
        top: auto;
        bottom: 0px;
        left: 0px;
    }

    @media screen and (max-width: $mobile) {
        width: 100px;
        height: 50px;
    }
}

.left,
.right {
    flex: 1;
}