@use "./../../../../src/styles/variables.scss" as *;

.title-center {
  text-align: -webkit-center;
  margin-bottom: 168px;
  margin-right: -12px;
  margin-top: -87px;
  @media screen and (max-width: $desktop) {
    margin-top: -83px;
    margin-bottom: 64px;
    margin-right: 1px;
  }
  @media screen and (max-width: $tablet) {
    margin-bottom: 40px;
  }
}

.title-left {
  text-align: left;
  margin-bottom: 88px;
  @media screen and (max-width: $mobile) {
    margin-bottom: 40px;
  }
  @media screen and (max-width: $mobile) {
    text-align: -webkit-center;
  }
}

.title-merch {
  text-align: left;
  margin-bottom: 88px;
  @media screen and (max-width: $desktop) {
    text-align: -webkit-center;
  }
}

.text-content {
  width: 425px;
  @media screen and (max-width: $desktop) {
    width: 305px;
    align-self: flex-start;
  }
  @media screen and (max-width: $tablet) {
    max-width: 100%;
  }
  @media screen and (max-width: $mobile) {
    position: relative;
  }
}

.contacts-center {
  padding: 0 148px 0 192px;

  @media screen and (max-width: $desktop) {
    padding: 0 108px;
  }

  @media screen and (max-width: 1439.9px) {
    padding: 0 0;
  }


  .contacts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px;
    position: relative;
    padding-bottom: 125.5px;

    @media screen and (max-width: $desktop) {
      padding-bottom: 0;
    }

    @media screen and (max-width: $tablet) {
      gap: 0;
    }


    @media screen and (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    @media (min-width: 360px) and (max-width: 500px) {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }


    .icons-contacts {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      @media screen and (max-width: $desktop) {
        margin-bottom: 19px;
      }

      @media screen and (max-width: $mobile) {
        margin-bottom: 20px;
      }

      .contacts-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 22px;
        @media screen and (max-width: $desktop) {
          gap: 6px;
          margin-bottom: 7px;
          padding-top: 9px;
        }
      }
    }

    .yellow {
      align-self: center;
      margin-top: 82px;
      margin-left: -7px;

      @media screen and (max-width: $desktop) {
        align-self: end;
        margin-bottom: -18px;
      }

      @media screen and (max-width: 1439.9px) {
        transform: translate(-104px, 35px);
      }

      @media screen and (max-width: $mobile) {
        display: none;
      }

      @media (min-width: 360px) and (max-width: 500px) {
        display: none;
      }

      svg {

        @media screen and (max-width: 1919.9px) {
          width: 280px;
        }

        @media screen and (max-width: 1439.9px) {
          width: 200px;
        }
      }
    }

    .red {
      filter: brightness(0) saturate(100%) invert(26%) sepia(49%) saturate(2263%) hue-rotate(346deg) brightness(102%) contrast(84%);
    }

    .text-content::before {
      @media screen and (max-width: $mobile) {
        content: "";
        position: absolute;
        width: 99.41px;
        height: 49.4px;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        left: 50%;
        background-image: url(../../../../assets/images/element-yellow-mobile.svg);
      }
      @media (min-width: 360px) and (max-width: 500px) {
        content: "";
        position: absolute;
        width: 99.41px;
        height: 49.4px;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        left: 50%;
        background-image: url(../../../../assets/images/element-yellow-mobile.svg);
      }
    }

    .text-content.red-mobile::before {
      @media (min-width: 360px) and (max-width: 500px) {
        content: "";
        position: absolute;
        width: 99.41px;
        height: 49.4px;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        left: 50%;
        background-image: url(../../../../assets/images/element-red-mobile.svg);
      }
    }

    p {
      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 16px;
        white-space: normal;
        width: 248px;
        margin-bottom: 20px;
      }

      @media screen and (max-width: $mobile) {
        font-size: 14px;
        width: 100%;
      }
    }

    a {
      margin-top: -3px;
      margin-left: 3px;
      margin-right: -6px;
      @media screen and (max-width: $desktop) {
        font-size: 16px;
        margin-right: 0;
        margin-top: -2px;
        margin-left: 3px;
      }
      @media screen and (max-width: $tablet) {
        font-size: 16px;
      }
    }

    .photo img {
      transform: scaleX(1.08) scaleY(1.05) rotate(-5deg);
      object-fit: contain;
    }

    .photo {
      @media screen and (max-width: $tablet) {
        display: flex;
        justify-content: center;;
      }
    }

    .photo:hover img {
      transform: scaleX(1.08) scaleY(1.05) rotate(-3deg);
    }
  }

  .icon-email {
    margin-right: 9px;
    @media screen and (max-width: $desktop) {
      margin-top: 5px;
      padding-left: 3px;
    }
    @media screen and (max-width: $tablet) {
      padding-left: 0;
    }
  }

  .contacts-social-media {
    p {
      text-transform: uppercase;
      font-weight: 400;
      color: rgb(53, 19, 17);
      margin-bottom: 22px;
      font-family: 'KharkivTone', sans-serif;
      @media screen and (max-width: $desktop) {
        margin-bottom: 15px;
        margin-top: 19px;
        font-size: 16px;
      }
      @media screen and (max-width: $tablet) {
        margin-bottom: 11px;
      }
      @media screen and (max-width: $mobile) {
        font-size: 14px;
      }
    }
  }

  .contacts-text {
    margin-bottom: 44px;
    white-space: pre-line;
    @media screen and (max-width: $desktop) {
      white-space: normal;
      font-size: 16px;
      margin-bottom: 16px;
      padding-top: 29px;
    }
    @media screen and (max-width: $mobile) {
      margin-top: 40px;
      white-space: normal;
      margin-bottom: 25px;
    }
    @media (min-width: 360px) and (max-width: 500px) {
      margin-top: 40px;
    }
  }
}

.merch_photo {
  @media screen and (max-width: 767.8px) {
    margin: 0 auto 40px;
  }
}



















