@use "./../../../../src/styles/variables.scss" as *;

.title-center {
  text-align: -webkit-center;
  margin-bottom: 168px;
  margin-right: -12px;
  margin-top: -87px;

  @media screen and (max-width: $desktop) {
    margin-top: -83px;
    margin-bottom: 64px;
    margin-right: 1px;
  }

  @media screen and (max-width: 1439.9px) {
    margin-top: -67px;
    margin-bottom: 43px;
  }

  @media screen and (max-width: 767.9px) {
    padding-top: 32px;
  }
}

.title-left {
  text-align: left;
  margin-bottom: 88px;

  @media screen and (max-width: 767.9px) {
    text-align: -webkit-center;
    margin-bottom: 40px;
  }
}

.title-merch {
  text-align: left;
  margin-bottom: 88px;

  @media screen and (max-width: $desktop) {
    text-align: -webkit-center;
  }
}

.text-content {
  width: 425px;

  @media screen and (max-width: $desktop) {
    width: 305px;
    align-self: flex-start;
  }

  @media screen and (max-width: 767.9px) {
    position: relative;
    width: 100%;
  }
}

.contacts-center {
  padding: 0 148px 0 192px;

  @media screen and (max-width: $desktop) {
    padding: 0 108px;
  }

  @media screen and (max-width: 1439.9px) {
    padding: 0 0;
  }


  .contacts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px;
    position: relative;
    padding-bottom: 125.5px;

    @media screen and (max-width: $desktop) {
      padding-bottom: 0;
    }

    @media screen and (max-width: 1439.9px) {
      gap: 6px;
      padding-bottom: 66px;
      max-width: 1000px;
      margin: 0 auto;
    }

    @media screen and (max-width: 767.9px) {
      margin-bottom: -5px;
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      gap: 40px;
    }


    .icons-contacts {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      @media screen and (max-width: $desktop) {
        margin-bottom: -4px;
      }

      @media screen and (max-width: 1439.9px) {
        margin-bottom: 4px;
      }

      @media screen and (max-width: 767.9px) {
        margin-bottom: 4px;
      }

      .contacts-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;
        gap: 6px;

        @media screen and (max-width: $desktop) {
          margin-bottom: 22px;
        }

        @media screen and (max-width: 767.9px) {
          margin-bottom: 21px;
        }
      }
    }

    .yellow {

      align-self: center;
      margin-top: -30px;
      margin-left: -10px;

      @media screen and (max-width: $desktop) {
        align-self: end;
        width: 280px;
      }

      @media screen and (max-width: 1439.9px) {
        transform: translate(-98px, 50px);
        width: 200px;
      }

      @media screen and (max-width: 767.9px) {
        display: none;
      }

    }

    .red {
      filter: brightness(0) saturate(100%) invert(26%) sepia(49%) saturate(2263%) hue-rotate(346deg) brightness(102%) contrast(84%);
    }

    .text-content::before {
      @media screen and (max-width: 767.9px) {
        content: "";
        position: absolute;
        width: 99.41px;
        height: 49.4px;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(-50%, 1%);
        left: 50%;
        background-image: url(../../../../assets/images/element-yellow-mobile.svg);
      }
    }

    .text-content.red-mobile::before {
      @media screen and (max-width: 767.9px) {
        content: "";
        position: absolute;
        width: 99.41px;
        height: 49.4px;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        left: 50%;
        background-image: url(../../../../assets/images/element-red-mobile.svg);
      }
    }

    p {
      @media screen and (max-width: 1439.9px) {
        font-size: 16px;
        width: 248px;
      }

      @media screen and (max-width: 767.9px) {
        font-size: 14px;
        width: 100%;
      }
    }

    a {
      margin-top: -1px;
      margin-left: 1px;
      margin-right: -1px;

      @media screen and (max-width: $desktop) {
        font-size: 16px;
        margin-top: -3px;
        margin-left: 1px;
        margin-right: -1px;
      }

      @media screen and (max-width: 1439.9px) {
        font-size: 16px;
        margin-top: -13px;
        padding-top: 1px;
      }

      @media screen and (max-width: 767.9px) {
        font-size: 14px;
        margin-right: 3px;
      }
    }

    .photo {
      @media screen and (max-width: 767.9px) {
        display: flex;
        justify-content: center;
      }
    }
  }

  .icon-email {
    margin-right: 9px;

    @media screen and (max-width: $desktop) {
      margin-top: 2px;
      margin-left: 1px;
    }

    @media screen and (max-width: 1439.9px) {
      padding-left: 0;
      margin-left: 4px;
      margin-top: 2px;
    }
  }

  .contacts-social-media {
    p {
      text-transform: uppercase;
      font-weight: 400;
      color: rgb(53, 19, 17);
      margin-bottom: 2px;
      font-family: 'KharkivTone', sans-serif;

      @media screen and (max-width: $desktop) {
        font-size: 16px;
        margin-bottom: 0;
      }

      @media screen and (max-width: 767.9px) {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }
  }

  .contacts-text {
    margin-bottom: 44px;
    white-space: pre-line;

    @media screen and (max-width: $desktop) {
      white-space: normal;
      font-size: 16px;
      margin-bottom: 19px;
      padding-top: 29px;
    }

    @media screen and (max-width: 1439.9px) {
      padding-top: 28px;
      line-height: 19px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 767.9px) {
      margin-top: 59px;
      white-space: normal;
      margin-bottom: 16px;
      font-size: 14px;
    }
  }

  .contacts-text2 {
    margin-bottom: 45px;

    @media screen and (max-width: $desktop) {
      margin-bottom: 25px;
    }

    @media screen and (max-width: 1439.9px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 767.9px) {
      margin-bottom: 34px;
    }
  }
}

.merch_photo {
  @media screen and (max-width: 767.8px) {
    margin: 0 auto 40px;
  }
}