@use "./../../../../src/styles/variables.scss" as *;

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  z-index: 2;
}

/* Background Image Support Home Block */
.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 119px 0;

  @media screen and (max-width: 1440px) {
    padding: 121px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 130px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 80px 0;
  }

}

/* Wave Support Home Block */
.wave {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wave-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1440px) {
  .wave-item {
    max-width: 697px;
    aspect-ratio: 697 / 538;
  }

  @supports not (aspect-ratio: 1 / 1) {
    .wave-item::before {
      padding-top: 77.2%;
    }
  }
}

@media screen and (max-width: 768px) {
  .wave-item {
    max-width: 498px;
    aspect-ratio: 498 / 501;
  }

  @supports not (aspect-ratio: 1 / 1) {
    .wave-item::before {
      padding-top: 100.6%;
    }
  }
}

@media screen and (max-width: 360px) {
  .wave-item {
    max-width: 328px;
    aspect-ratio: 328 / 453;
  }

  @supports not (aspect-ratio: 1 / 1) {
    .wave-item::before {
      padding-top: 138.1%;
    }
  }
}

/* Title Support Home Block */
.title-template-part {
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 88px;

  @media screen and (max-width: 1440px) {
    padding-top: 80px;
    padding-bottom: 64px;
    font-size: 38px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 64px;
    padding-bottom: 40px;
    font-size: 32px;
  }

  @media screen and (max-width: 360px) {
    padding-top: 64px;
    padding-bottom: 40px;
    font-size: 24px;
  }
}

.h2-title-v2-wrapper {
  width: fit-content;
  margin: 0px auto 88px;
  padding-top: 135px;
  z-index: 5;
}

/* Text Support Home Block */
.text-content {
  position: relative;
  width: 425px;
  font-size: 20px;
  line-height: 130%;
  color: #F5EFE6;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  z-index: 5;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: left;

  @media screen and (max-width: 1440px) and (min-width: 769px) {
    width: 400px;
    font-size: 16px;
    padding-bottom: 16px;
  }

  @media screen and (max-width: 768px) and (min-width: 361px) {
    width: 248px;
    font-size: 16px;
    padding-bottom: 16px;
  }

  @media screen and (max-width: 360px) {
    width: 248px;
    font-size: 14px;
    padding-bottom: 16px;
  }
}

.text-content p:not(:last-child) {
  margin-bottom: 44px;
}

@media screen and (max-width: 1440px) and (min-width: 769px) {
  .text-content p:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 361px) {
  .text-content p:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 360px) {
  .text-content p:not(:last-child) {
    margin-bottom: 20px;
  }
}

/* Button Support Home Block*/
.button-wrapper {
  width: 425px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;

  @media screen and (max-width: 1440px) and (min-width: 769px) {
    width: 400px;
  }

  @media screen and (max-width: 768px) and (min-width: 361px) {
    width: 248px;
  }

  @media screen and (max-width: 360px) {
    width: 248px;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 203px;
  height: 50px;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  z-index: 5;
  cursor: pointer;
  border-radius: 100px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500px;
  background: #F2C857;
  color: #B74028;

  @media screen and (max-width: 1440px) and (min-width: 769px) {
    width: 177px;
    height: 45px;
    font-size: 16px;
  }

  @media screen and (max-width: 768px) and (min-width: 361px) {
    width: 177px;
    height: 45px;
    font-size: 16px;
  }

  @media screen and (max-width: 360px) {
    width: 248px;
    height: 45px;
    font-size: 16px;
  }
}

/* Button hover */
.button:hover {
  background: #EFB330;
}

.button:focus {
  background: #E89319;
  border: 2px solid #F2C857;
  color: #F5EFE6;
}