@use "./../../../../src/styles/variables.scss" as *;

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  z-index: 2;
}

/* Background Image Support Home Block */
.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 882px;
  z-index: 1;
  position: relative;

}

/* Wave Support Home Block */
.wave {
  position: absolute;
  top: 119px;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

/* Element of Wave Support Home Block */
.wave-item {
  position: relative;
  width: 839px;
  height: 644px;
  text-align: center;
  padding: 0;
  background-size: cover;
  background-position: center;
  z-index: 3;

  @media screen and (max-width: 1440px) {
    width: 697px;
    height: 538px;
  }

  @media screen and (max-width: 768px) {
    width: 498px;
    height: 501px;
  }

  @media screen and (max-width: 360px) {
    width: 328px;
    height: 453px;
  }
}

/* Title Support Home Block */

.title-template-part {
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 88px;

  @media screen and (max-width: 1440px) {
    padding-top: 80px;
    padding-bottom: 64px;
    font-size: 38px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 64px;
    padding-bottom: 40px;
    font-size: 32px;
  }

  @media screen and (max-width: 360px) {
    padding-top: 64px;
    padding-bottom: 40px;
    font-size: 24px;
  }
}

.h2-title-v2-wrapper {
  width: fit-content;
  margin: 0px auto 88px;
  padding-top: 135px;
  z-index: 5;
}

/* Text Support Home Block */
.text-content {
  position: relative;
  width: 425px;
  font-size: 20px;
  line-height: 130%;
  color: #F5EFE6;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  z-index: 5;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: left;

  @media screen and (max-width: 360px) {
    width: 248px;
    font-size: 14px;
  }

  @media screen and (max-width: 768px) {
    width: 248px;
    font-size: 16px;
  }

  @media screen and (min-width: 1440px) {
    width: 400px;
    font-size: 16px;
  }
}

/* Button Support Home Block*/
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  left: 108px;
  width: 203px;
  height: 50px;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  z-index: 5;
  cursor: pointer;
  border-radius: 100px;
  text-decoration: none;
  font-family: Raleway sans-serif;
  font-size: 20px;
  font-weight: 500px;
  background: #ffcc00;
  color: #B74028;

  @media screen and (max-width: 1440px) {
    width: 177px;
    height: 45px;
    font-size: 16px;
    left: 110px;
  }

  @media screen and (max-width: 768px) {
    width: 177px;
    height: 45px;
    left: 35px;
    font-size: 16px;
  }

  @media screen and (max-width: 360px) {
    width: 248px;
    height: 45px;
    padding-top: 16px;
    left: 0;
  }
}

/* Button hover */
.button:hover {
  background: #EFB330;
  transform: scale(1.05);
}

.button:focus {
  background: #E89319;
  border: 2px solid #F2C857;
  color: #F5EFE6;
  transform: scale(1.05);
}