@use "./../../../../src/styles/variables.scss" as *;

.title-template-part {
    width: fit-content;
    margin: 0 auto 100px;

    @media screen and (max-width: 1919.9px) {
        margin-bottom: 64px;
    }

    @media screen and (max-width: 1439.9px) {
        margin-bottom: 40px;
    }
}

.content-with-animation-wrapper {
    position: relative;
}

.animation-container,
.ball-container,
.content-container {
    display: block;
}

.path-container,
.path-container1440,
.path-container768,
.path-container360 {
    display: none;
}

.path-container {
    @media screen and (min-width: 1920px) {
        display: block;
    }
}

.path-container1440 {
    @media screen and (max-width: 1919.9px) and (min-width: 1440px) {
        display: block;
    }
}

.path-container768 {
    @media screen and (max-width: 1439.9px) and (min-width: 768px) {
        display: block;
    }
}

.path-container360 {
    @media screen and (max-width: 767.9px) {
        display: block;
    }
}

.animation-container {
    position: absolute;
    left: 402px;
    top: -61px;

    @media screen and (max-width: 1919.9px) {
        left: 325px;
        top: -28px;
    }

    @media screen and (max-width: 1439.9px) {
        left: 0;
    }

    @media screen and (max-width: 767.9px) {
        left: 16px;
    }
}

.story1,
.story2,
.story3,
.story4 {
    display: flex;
    margin-bottom: 210px;

    @media screen and (max-width: 1919.9px) {
        margin-bottom: 120px;
    }

    @media screen and (max-width: 1439.9px) {
        flex-direction: column;
        gap: 24px;
        margin-left: 40px;
        margin-bottom: 100px;
    }

    @media screen and (max-width: 767.9px) {
        flex-direction: column-reverse;
        gap: 33px;
    }
}

.story1 {
    height: 509px;
    /* background-color: rgb(138, 176, 138); */

    @media screen and (max-width: 1919.9px) {
        height: 444px;
    }

    @media screen and (max-width: 1439.9px) {
        flex-direction: column-reverse;
        justify-content: start;
        height: 605px;
    }

    @media screen and (max-width: 767.9px) {
        flex-direction: column;
        height: 650px;
    }
}

.story2 {
    justify-content: flex-end;
    height: 509px;
    /* background-color: rgb(192, 118, 118); */

    @media screen and (max-width: 1919.9px) {
        height: 444px;
    }

    @media screen and (max-width: 1439.9px) {
        justify-content: unset;
        height: 681px;
    }

    @media screen and (max-width: 767.9px) {
        height: 752px;
        justify-content: start;
    }
}

.story3 {
    height: 616px;
    /*  background-color: rgb(141, 131, 176); */

    @media screen and (max-width: 1919.9px) {
        height: 444px;
    }

    @media screen and (max-width: 1439.9px) {
        flex-direction: column-reverse;
        justify-content: start;
        height: 820px;
    }

    @media screen and (max-width: 767.9px) {
        flex-direction: column;
        height: 881px;
    }
}

.story4 {
    justify-content: flex-end;
    height: 509px;
    /* background-color: rgb(172, 148, 168); */
    margin-bottom: 0px;

    @media screen and (max-width: 1919.9px) {
        height: 444px;
    }

    @media screen and (max-width: 1439.9px) {
        justify-content: unset;
        height: 643px;
    }

    @media screen and (max-width: 767.9px) {
        flex-direction: column-reverse;
        justify-content: start;
        height: 718px;
    }
}

.photo {
    @media screen and (max-width: 1919.9px) {
        margin-top: 80px;
    }

    @media screen and (max-width: 1439.9px) {
        margin-top: 0px;
        margin-left: 408px;
    }

    @media screen and (max-width: 767.9px) {
        margin: 0px auto;
        max-width: 700px;
    }
}

.story-info {
    display: flex;

    @media screen and (max-width: 767.9px) {
        flex-direction: column;
        gap: 20px;
    }
}

.year-event {
    width: 276px;
    margin-right: 20px;
    margin-left: 26px;

    @media screen and (max-width: 1919.9px) {
        width: 225px;
        margin-right: 0px;
    }

    @media screen and (max-width: 1439.9px) {
        margin-left: 0px;
    }
}

.year {
    margin-bottom: 4px;
}

.event-title {
    color: $red;
    font-weight: 500;

    @media screen and (max-width: 767.9px) {
        font-size: 16px;
    }
}

.event-description {
    font-weight: 400;
    width: 425px;
    margin-right: 174px;

    @media screen and (max-width: 1919.9px) {
        width: 413px;
        margin-right: 25px;
    }

    @media screen and (max-width: 1439.9px) {
        width: 336px;
    }

    @media screen and (max-width: 767.9px) {
        width: 100%;
    }
}

.event-description a:hover {
    color: #EFB330;
}

.event-description a:active {
    color: #E89319;
}