@use "./variables.scss";

.header {
    background-color: variables.$white;
    border-bottom: 1px solid #35131140;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.header__logo-img {
    max-height: 100%;
}

.header__group {
    display: flex;
    align-items: center;
}

// The menus
.menu__nav {
    display: none;
}

.header__menu__list {
    display: flex;
    flex-direction: row;
    gap: 44px;
}

.header__menu__list .menu-item,
.header__dropdown-menu__list .menu-item {
    display: flex;
    align-items: center;

    font-family: variables.$primary-font;
    font-size: 16px;
    padding: 0px 4px;
}

.header__menu__list .menu-item a,
.header__dropdown-menu__list .menu-item a {
    position: relative;
    border-bottom: 1px solid transparent;
    transition: all variables.$animations;
}

.header__menu__list .menu-item a:hover,
.header__dropdown-menu__list a:hover {
    color: variables.$red;
    border-bottom: 1px solid variables.$red;
}

.header__menu__list .menu-item a:active,
.header__dropdown-menu__list .menu-item a:active {
    color: variables.$dark_red;
    border-bottom: 1px solid variables.$dark_red;
}

.header__menu__list .menu-item a:active::after,
.header__dropdown-menu__list .menu-item a:active::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -2px;
    width: 100%;
    border-bottom: 2px solid variables.$dark_red;
}

.header__menu__list .current-menu-item a,
.header__dropdown-menu__list .current-menu-item a {
    color: variables.$red;
    border-bottom: 1px solid variables.$red;
}

// The language switcher
.header__language-switcher {
    display: none;
}

.header__language-switcher-button,
.header__dropdown-menu-language-switcher-button {
    font-family: variables.$primary-font;
    font-size: 16px;
    padding: 0px 4px;
    border-bottom: 1px solid transparent;
    transition: all variables.$animations;
}

.header__language-switcher-button:hover,
.header__dropdown-menu-language-switcher-button:hover {
    color: variables.$red;
    border-bottom: 1px solid variables.$red;
}

.header__language-switcher-button:active,
.header__dropdown-menu-language-switcher-button:active {
    color: variables.$dark_red;
    border-bottom: 2px solid variables.$dark_red;
}

.header__dropdown-menu-language-switcher-button-selected {
    color: variables.$black;
    border-bottom: 1px solid variables.$black;
}

.header__dropdown-menu-language-switcher-button li {
    list-style-type: none;
}

.header__language-switcher-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: block;
    cursor: default;
}

.header__language-switcher-overlay.header__language-switcher-overlay-hidden {
    display: none;
}

.header__language-switcher-dropdown {
    position: absolute;
    background-color: variables.$BG;
    padding: 16px;
    margin-left: -16px;
    margin-top: 8px;
    border-radius: 12px;
    border: 1px solid variables.$red;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: variables.$primary-font;
    font-size: 16px;

    visibility: visible;
    opacity: 1;
    transition: all variables.$animations-long;
}

.header__language-switcher-dropdown.header__language-switcher-dropdown-hidden {
    visibility: hidden;
    opacity: 0;
}

// The social icons

.header__social-icons,
.header__dropdown-menu-social-icons {
    align-items: center;
    flex-direction: row;
    gap: 24px;
}

.header__social-icons {
    display: none;
}

.header__dropdown-menu-social-icons {
    display: flex;
}

.header__social-icon-image {
    transition: all variables.$animations;
}

.header__social-icon-link:hover .header__social-icon-image {
    transform: scale(110%);
}

// The mobile menu elements
.header__mobile-menu-dropdown-toggle {
    background-color: variables.$red;
    width: 40px;
    height: 40px;
    padding: 6px 2px;
    border-radius: 100px;
    border: 1px solid variables.$yellow;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__mobile-menu-dropdown-toggle:hover {
    border-color: variables.$yellow_hover;
}

.header__mobile-menu-dropdown-toggle:active {
    border-color: variables.$yellow_pressed;
}

// The tablet and the desktop elements
.header__td-menu-dropdown-toggle {
    background-color: variables.$red;
    width: 157px;
    height: 48px;
    padding: 12px 36px;
    border-radius: 100px;
    border: 1px solid variables.$yellow;

    display: none;
    justify-content: center;
    align-items: center;
    gap: 12px;

    color: variables.$yellow;
    font-family: variables.$primary-font;
    font-size: 16px;
    text-transform: uppercase;
}

.header__td-menu-dropdown-toggle:hover {
    border-color: variables.$yellow_hover;
    color: variables.$yellow_hover;
}

.header__td-menu-dropdown-toggle:active {
    border-color: variables.$yellow_pressed;
    color: variables.$yellow_pressed;
}

//
.header__mobile-menu-dropdown-open-svg,
.header__td-menu-dropdown-open-svg {
    stroke: variables.$yellow;
    width: 14px;
    height: 10px;
}

.header__mobile-menu-dropdown-toggle:hover .header__mobile-menu-dropdown-open-svg,
.header__td-menu-dropdown-toggle:hover .header__td-menu-dropdown-open-svg {
    stroke: variables.$yellow_hover;
}

.header__mobile-menu-dropdown-toggle:active .header__mobile-menu-dropdown-open-svg,
.header__td-menu-dropdown-toggle:active .header__td-menu-dropdown-open-svg {
    stroke: variables.$yellow_pressed;
}

.header__dropdown-menu .header__mobile-menu-dropdown-toggle,
.header__dropdown-menu .header__td-menu-dropdown-toggle {
    align-self: end;
}

.header__dropdown-menu .header__td-menu-dropdown-toggle {
    width: 191px;
}

.header__mobile-menu-dropdown-close-svg,
.header__td-menu-dropdown-close-svg {
    stroke: variables.$yellow;
    fill: variables.$yellow;
    width: 12px;
    height: 12px;
}

.header__mobile-menu-dropdown-toggle:hover .header__mobile-menu-dropdown-close-svg,
.header__td-menu-dropdown-toggle:hover .header__td-menu-dropdown-close-svg {
    stroke: variables.$yellow_hover;
    fill: variables.$yellow_hover;
}

.header__mobile-menu-dropdown-toggle:active .header__mobile-menu-dropdown-close-svg,
.header__td-menu-dropdown-toggle:active .header__td-menu-dropdown-close-svg {
    stroke: variables.$yellow_pressed;
    fill: variables.$yellow_pressed;
}

// The dropdown menu
.header__dropdown-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #282828B2;
    width: 100%;
    height: 100%;
    z-index: 99;
    cursor: default;

    visibility: visible;
    opacity: 1;
    transition: all variables.$animations-long;
}

.header__dropdown-menu-overlay-hidden {
    visibility: hidden;
    opacity: 0;
}

.header__dropdown-menu {
    position: fixed;
    right: 0;
    top: 0;
    background-color: variables.$BG;
    width: 100%;
    height: 100%;
    z-index: 100;
    border: 1px solid variables.$red;
    border-radius: 24px;
    padding: 12px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    visibility: visible;
    opacity: 1;
    transition: all variables.$animations-long;
}

.header__dropdown-menu.header__dropdown-menu-hidden {
    visibility: hidden;
    opacity: 0;
}

.header__dropdown-menu-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
}

.header__dropdown-menu-items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.header__dropdown-menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.header__prevent-scrolling {
    position: fixed;
}

// The scroll to top button
.header__scroll-to-top-button {
    position: fixed;
    right: 32px;
    bottom: 32px;
    background-color: variables.$yellow;
    width: 48px;
    height: 48px;
    border: 1px solid variables.$red;
    border-radius: 100px;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: all variables.$animations-long;
}

.header__scroll-to-top-button.header__scroll-to-top-button-visible {
    visibility: visible;
    opacity: 1;
}

.header__scroll-to-top-button:hover {
    background-color: variables.$yellow_hover;
}

.header__scroll-to-top-button:active {
    background-color: variables.$yellow_pressed;
    border-color: variables.$yellow;
}

.header__scroll-to-top-button-svg {
    width: 10px;
    height: 18px;
    rotate: -90deg;
    fill: variables.$red;
}

.header__scroll-to-top-button:active .header__scroll-to-top-button-svg {
    fill: variables.$white;
}

// Screen layouts

// The styles for the mobile devices
@media screen and (max-width: calc(variables.$tablet - 0.1px)) {
    .header {
        height: 64px;
        padding: 12px 16px;
    }

    .header__dropdown-menu-overlay {
        display: none;
    }
}

// The styles for the tablets
@media screen and (min-width: variables.$tablet) {
    .header {
        height: 116px;
        padding: 12px 40px;
    }

    .header__mobile-menu-dropdown-toggle {
        display: none;
    }

    .header__td-menu-dropdown-toggle {
        display: flex;
    }

    .header__dropdown-menu {
        right: 0px;
        width: 464px;
        padding: 34px 40px 40px 40px;
    }

    .header__dropdown-menu-wrapper,
    .header__dropdown-menu-items-wrapper,
    .header__dropdown-menu__list {
        align-items: start;
    }
}

// The styles for the desktops
@media screen and (min-width: variables.$desktop) {
    .header {
        padding: 12px 80px;
    }

    .header__dropdown-menu {
        padding: 34px 80px 40px 80px;
    }

    .header__group {
        flex-direction: row;
        width: 83.3333%;
        justify-content: space-between;
        /* gap: 92px; */
    }
    .menu__nav {
        display: flex;
        flex-direction: row;
        width: 71%;
    }
    .header__menu__list{
        width: 100%;
        justify-content: space-between;
        gap: 8px;

    }
    .header__language-switcher {
        display: block;
    }
    
    .header__social-icons {
        display: flex;
    }

    .header__td-menu-dropdown-toggle {
        display: none;
    }
}

// The styles for the full layout
@media screen and (min-width: variables.$full) {
    .header {
        padding: 12px 80px;
    }

    .header__group {
        width: 81.2%;
    }

    .menu__nav{
        width: 67.5%;
    }



    
}