@import "./variables.scss";

// containers
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $desktop) {
    padding-bottom: 110px;
  }
}

.section {
  padding: 80px 0;

  @media screen and (max-width: $full) {
    padding: 64px 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;

  @media screen and (max-width: $full) {
    padding: 0 40px;
  }

  @media screen and (max-width: $tablet) {
    padding: 0 16px;
  }
}