@font-face {
    font-family: 'KharkivTone';
    src: url('/assets/fonts/KharkivTone.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$primary-font: 'KharkivTone', sans-serif;

$BG: #F5EFE6;
$red: #B74028;
$dark_red: #351311;
$blue: #3053A0;
$yellow: #F2C857;
$yellow_hover: #EFB330;
$yellow_pressed: #E89319;
$black: #000000;
$grey: #BBBBBB;
$white: #F5EFE6;
$red_for_logo: #C61818;
$derk_for_logo: #16080A;

$full: 1920px;
$desktop: 1440px;
$tablet: 768px;
$mobile: 360px;