<<<<<<< HEAD
=======
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
>>>>>>> f201d2be8a7c10e188d89baae43326381d4adc28
@font-face {
  font-family: "KharkivTone";
  src: url("../../assets/fonts/KharkivTone.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.jsblock1-module__block___gWy9q {
  background: #B74028;
}

.jsblock1-module__button_a___iCrvm {
  background: #F5EFE6;
}

.jsblock1-module__button_b___Mhw7G {
  background: #3053A0;
}

.jsblock1-module__paragraph_2___2X5vD {
  font-size: 24px;
  font-family: "KharkivTone", sans-serif;
}