@use "../variables.scss" as *;

/*
360  182x252 (240x290)
768  182x252 (240x290)
1440 228x316 (300x364)
1920 320x442 (419x509)

angle - -14.2
top - 3%
left - 0.25%
*/

$img-w-360: 182px;
$img-h-360: 252px;

$img-w-768: 182px;
$img-h-768: 252px;

$img-w-1440: 228px;
$img-h-1440: 316px;

$img-w-1920: 320px;
$img-h-1920: 442px;

$angle-frame: -5.89deg;
$angle-frame-before: -0.4deg;
$angle-frame-after: -8.31deg;

$angle-frame-right: 14.89deg;
$angle-frame-right-before: 0.4deg;
$angle-frame-right-after: 8.31deg;

/* размер фото для макс устройства*/
$img-width-template: 320px;
$img-height-template: 442px;

/* размер контейнера с фото и рамками */
$image-frame-width-template: 419px;
$image-frame-height-template: 509px;

$k-frame-width: calc($img-width-template / $image-frame-width-template);
$k-frame-height: calc($img-width-template / $image-frame-height-template);

/* при 419px ширине нужно контейнера фото нужно получить 18px 18/419 */
$k-18-419: calc(18px / $image-frame-width-template);

/* при 419px ширине нужно контейнера фото нужно получить 4px 4/419 */
$k-4-419: calc(4px / $image-frame-width-template);

@mixin set-img-size($width, $height) {
  .team-img-wrap {
    width: $width;
    height: $height;
  }
  .team-img-frame {
    width: calc($width / $k-frame-width);
    height: calc($width / $k-frame-height);
  }
}

.team-img-frame {
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.team-img-wrap {
  position: relative;
  border-radius: 4px;

  transform: rotate($angle-frame);
  top: 3%;
  left: 0.25%;
}

@include set-img-size($img-w-360, $img-h-360);

.team-img-wrap::before,
.team-img-wrap::after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: -1;
  border-width: 2px;
  border-style: solid;
}

.team-img-wrap::before,
.team-img-wrap::after {
  content: "";
}

.team-img-wrap::before {
  border-color: $blue;

  transform: rotate($angle-frame-before);
  top: calc(100% * $k-18-419);
  left: calc(-100% * $k-18-419);
}
.team-img-wrap::after {
  border-color: $red;

  transform: rotate($angle-frame-after);
  top: calc(100% * $k-18-419); /* 18px */
  left: calc(-100% * $k-4-419); /* -4px */
}

.team-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  line-height: 0;
  border-radius: 4px;
}

/*
@media screen and (min-width: 768px) {
}*/

@media screen and (min-width: 768px) {
  @include set-img-size($img-w-768, $img-h-768);
}

/*@media screen and (min-width: 1200px) {
}*/

@media screen and (min-width: 1440px) {
  @include set-img-size($img-w-1440, $img-h-1440);
}

@media screen and (min-width: 1920px) {
  @include set-img-size($img-w-1920, $img-h-1920);
}
/*
@media screen and (min-width: 768px){
  
}
*/
