@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "KharkivTone";
  src: url("/assets/fonts/Kharkiv-Tone-04.10.2020.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%;
  /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4;
  /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4;
  /* 3 */
}

html,
body {
  scroll-behavior: auto;
  overflow-x: hidden;
  color: #000000;
  scroll-padding-top: 80px;
}

html.modal__opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

body {
  margin: 0;
}
body.modal-open {
  overflow: hidden;
  max-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

abbr[title] {
  text-decoration: underline dotted;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  appearance: button;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

summary {
  display: list-item;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #000000;
  font-family: "KharkivTone", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1;
  /* 1 */
  margin: 0;
  /* 2 */
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

button,
textarea,
select {
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

input {
  color: inherit;
  font: inherit;
  outline: none;
  border: none;
  background: transparent;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}
@media screen and (min-width: 1440px) {
  .wrapper {
    padding-bottom: 110px;
  }
}

.section {
  padding: 80px 0;
}
@media screen and (max-width: 1440px) {
  .section {
    padding: 64px 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 380px;
}
@media screen and (max-width: 1440px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "KharkivTone", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 88px;
  line-height: 110%;
}
@media screen and (max-width: 1440px) {
  h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 52px;
  }
}

h2 {
  font-size: 44px;
  line-height: 110%;
}
@media screen and (max-width: 1440px) {
  h2 {
    font-size: 38px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 30px;
  line-height: 130%;
}
@media screen and (max-width: 1440px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-size: 20px;
  line-height: 120%;
}
@media screen and (max-width: 1440px) {
  h4 {
    font-size: 16px;
  }
}

body,
.body_medium {
  font-family: "Raleway", serif;
  font-size: 20px;
  line-height: 130%;
}
@media screen and (max-width: 1440px) {
  body,
  .body_medium {
    font-size: 16px;
  }
}

body {
  font-weight: 400;
}

.body_medium {
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .body_medium {
    line-height: 120%;
  }
}

.bth_header {
  font-family: "KharkivTone", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.start-page__header {
  margin: 0 auto;
  padding: 25px 300px;
  display: flex;
  background-color: #6984ff;
}

.start-page__header a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.start-page__header a:hover, .start-page__header a:focus {
  transform: scale(1.1);
}

.start-page__header a img {
  border-radius: 50%;
}

.start-page__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
  padding: 25px 300px;
  min-height: calc(100vh - 280px);
  background-color: #ebebed;
  text-align: end;
}

.start-page__title {
  color: #fff;
  font-size: 90px;
  font-weight: 600;
  margin: 0;
}

.start-page__title--white {
  text-shadow: -1px -1px 0 #6984ff, 1px -1px 0 #6984ff, -1px 1px 0 #6984ff, 1px 1px 0 #6984ff;
}

.start-page__title--blue {
  color: #6984ff;
  white-space: nowrap;
}

.start-page__text {
  position: relative;
  padding: 40px 60px;
  border-radius: 24px;
  background: #f3db66;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  animation: slideRight 2s ease-in-out forwards;
  opacity: 0;
}

.start-page__logo {
  animation: scaleUp 3s ease-in-out forwards;
  transform-origin: 0% 50%;
  width: 700px;
  height: 700px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 50%;
  padding: 10px;
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.start-page__footer {
  margin: 0 auto;
  padding: 25px 300px;
  background-color: #6984ff;
}

.start-page__footer a {
  display: block;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.start-page__footer a:hover, .start-page__footer a:focus {
  color: #f3db66;
}

header {
  background-color: aqua;
}

footer {
  background-color: aqua;
  height: 100px;
}