@use "./../../../../src/styles/variables.scss" as vars;

.block {
    background: vars.$red;
}

.button_a {
    background: vars.$white;
}

.button_b {
    background: vars.$blue;
}

.paragraph_2 {
    font-size: 24px;
    font-family: vars.$primary-font;
}