@use "./../../../../src/styles/variables.scss" as *;

.block {
    background: $red;
}

.button_a {
    background: $white;
}

.button_b {
    background: $blue;
}

.paragraph_2 {
    font-size: 24px;
    font-family: $primary-font;
}