@use "./../../../src/styles/variables.scss" as *;

.upper-title-wrapper {
    width: fit-content;
    margin: 0 auto 180px;
    position: relative;

    @media screen and (max-width: $desktop) {
        margin-bottom: 130px;
    }

    @media screen and (max-width: $tablet) {
        margin-bottom: 85px;
    }

    @media screen and (max-width: $mobile) {
        width: 240px;
        margin-bottom: 95px;
    }
}

.upper-title-wrapper::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 350px;
    height: 20px;
    background-image: url("../../../assets/images/title_element.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: -33px;
    bottom: -52px;

    @media screen and (max-width: $desktop) {
        bottom: -44px;
    }

    @media screen and (max-width: $tablet) {
        width: 300px;
        bottom: -40px;
    }

    @media screen and (max-width: $mobile) {
        width: 200px;
        bottom: -32px;
    }
}

.title {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 40px;
}

.title::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 37px;
    height: 37px;
    background-image: url("../../../assets/images/rounded_elements.svg");
    background-size: contain;
    background-repeat: no-repeat;
    left: -32px;
    top: 5px;

    @media screen and (max-width: $desktop) {
        left: -24px;
    }

    @media screen and (max-width: $mobile) {
        left: -12px;
    }
}

.title::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 37px;
    height: 37px;
    background-image: url("../../../assets/images/rounded_elements.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    right: -32px;
    top: 10px;

    @media screen and (max-width: $desktop) {
        right: -24px;
    }

    @media screen and (max-width: $mobile) {
        right: -12px;
    }
}