@use "./../../../../src/styles/variables.scss" as *;

.container {
  padding: 0 16px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .container {
  }
}

.team-wrap {
  position: relative;
}

.team-list {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.team-item {
  display: flex;
  width: 100%;
  max-width: 324px;
  flex-direction: column;
  align-items: center;

  font-family: $primary-font;
  text-align: center;
}

.team-text {
  position: relative;
  width: 100%;
  text-transform: uppercase;
}
.team-text-wrap {
  margin-top: 40px;
  height: 59px;
}
.team-item-fullname {
  color: $red;
}

.team-item-jobtitle {
  color: $dark_red;
}

.team-sky-s,
.team-sky-xl,
.team-sky-l,
.team-sky-m {
  display: none;
  position: absolute;
  width: 100%;
}

.team-sky-s {
  display: block;
  position: absolute;
  left: 0;
  top: 0px;
}

@media screen and (min-width: 768px) {
  .team-sky-s {
    display: none;
  }
  .team-sky-m {
    display: block;
    left: 0;
    bottom: 0;
    height: 354px;
    width: 180%;
  }

  .team-sky-m-one {
    top: 380px;
  }
  .team-sky-m-two {
    bottom: -20px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: normal;
    justify-content: space-around;
    row-gap: 88px;
    padding-bottom: 270px;
  }

  .team-item {
    max-height: 500px; /* height: 480 */
    max-width: 264px;
  }
  .team-item:nth-child(odd) {
    align-self: flex-end;
    padding-top: 97px;
  }

  .team-item:nth-child(1),
  .team-item:nth-child(2) {
  }

  .team-item:nth-child(2) {
    margin-right: 11%;
  }

  .team-item:nth-child(3) {
    margin-left: 11%;
  }
}

@media screen and (min-width: 960px) {
  .team-list {
    column-gap: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .team-sky-m {
    display: none;
  }

  .team-sky-l {
    display: block;
    height: 370px;
    top: 412px;
  }
  .team-list {
    flex-wrap: nowrap;
    gap: unset;
    padding-bottom: 200px;
  }

  .team-item {
    min-width: 325px;
    max-width: 21%;
    max-height: 620px;
  }

  .team-item:nth-child(odd) {
    align-self: unset;
    padding-top: unset;
  }
  .team-item:nth-child(1),
  .team-item:nth-child(4) {
    padding-top: 124px;
  }

  .team-item:nth-child(2) {
    margin-right: unset;
  }

  .team-item:nth-child(3) {
    margin-left: unset;
  }
}

@media screen and (min-width: 1920px) {
  .team-sky-l {
    display: none;
  }

  .team-sky-xl {
    display: block;
    height: 357px;
    top: 590px;
  }

  .team-item {
    min-width: 419px;
    max-height: 850px;
  }
}
